<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Message</title>
  </head>
  <body>
    <h1>Edit Message</h1>
    <div>
      <p>Chat ID: <%= chat._id %></p>

      <p>From: <%= chat.from %></p>
      <p>To: <%= chat.to %></p>

      <form method="post" action="/chats/<%=chat._id%>/?_method=PUT">
        <textarea name="msg" id="" rows="10" cols="35">
<%= chat.msg %></textarea
        >


<button>Edit Message</button>

      </form>
    </div>
  </body>
</html>
